<mat-card class="form-card">
  <h1>Sign up</h1>

  <form [formGroup]="signUpForm" (ngSubmit)="signUp()">
    <mat-form-field appearance="outline">
      <mat-label>Enter your username</mat-label>
      <input matInput placeholder="username" formControlName="username" required>
      <mat-error *ngIf="usernameControl.invalid">{{ getUsernameInputValidationErrorMessage() }}</mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Enter your password</mat-label>
      <input matInput type="password" placeholder="Password" formControlName="password" required>
      <mat-error *ngIf="passwordControl.invalid">{{ getPasswordInputValidationErrorMessage() }}</mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Choose your account type</mat-label>
      <mat-select formControlName="role">
        <mat-option *ngFor="let userRole of userRoles" [value]="userRole">{{ userRole | titlecase }}</mat-option>
      </mat-select>
    </mat-form-field>

    <div>
      <button mat-raised-button color="primary" type="submit" [disabled]="!signUpForm.valid" style="margin-bottom: 1rem;">Submit</button>
    </div>
  </form>

  <mat-divider></mat-divider>

  <div class="form-footer">
    <a (click)="login()" class="sign-up-link">Already have an account? Sign in</a>
  </div>
</mat-card>
