.theme-wrapper {
  width: 100%;
  height: 100%;
}

mat-toolbar {
  padding: 1rem 1rem 1rem 0.75rem;
}

.brand {
  cursor: pointer;
}

.toolbar-spacer {
  flex: 1 1 auto;
}

mat-sidenav-container {
  height: 100%;
  width: 100%;

  mat-sidenav {
    width: 320px;
    height: 100%;
  }
}

.wrapper {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;

  .content {
    height: 100%;
    flex: 1 0 auto;
    padding: 16px;
    overflow: hidden;
  }
}
