<div [class]="'theme-wrapper ' + (isDarkModeEnabled ? 'dark-theme' : 'light-theme')">
  <mat-sidenav-container class="content">
    <mat-sidenav mode="push" [opened]="isSidebarOpened">
      This is sidebar
      <br>
      And it's content
      <br>
      <a routerLink="/stocks">Stock catalog</a>
      <br>
      <a *ngIf="isAuthenticated" routerLink="/accounts">My Accounts</a>
    </mat-sidenav>

    <div class="wrapper">

      <mat-toolbar color="primary">
        <button mat-icon-button (click)="toggleSidebar()" class="md-none">
          <mat-icon>menu</mat-icon>
        </button>

        <div routerLink="/" class="brand">
          <span>stock-market-ng-app</span>
        </div>

        <span class="toolbar-spacer"></span>

        <button mat-mini-fab color="primary" (click)="toggleTheme()" style="margin-right: 1rem;">
          <mat-icon *ngIf="!isDarkModeEnabled">light_mode</mat-icon>
          <mat-icon *ngIf="isDarkModeEnabled">dark_mode</mat-icon>
        </button>

        <ng-container *ngIf="isAuthenticated else notAuthenticated">
          <button mat-raised-button color="basic" (click)="logout()" *ngIf="isAuthenticated">Log out</button>
        </ng-container>

        <ng-template #notAuthenticated>
          <button mat-raised-button color="basic" (click)="login()" style="margin-right: 1rem;">Log in</button>
          <button mat-raised-button color="basic" routerLink="/sign-up">Sign up</button>
        </ng-template>
      </mat-toolbar>

      <div class="content">
        <router-outlet></router-outlet>
      </div>
    </div>

  </mat-sidenav-container>
</div>
