@use '@angular/material' as material;

$stock-market-ng-app-dark-primary: material.define-palette(material.$blue-palette, 500, 700, 300);
$stock-market-ng-app-dark-accent: material.define-palette(material.$green-palette, 600, 600, 600);
$stock-market-ng-app-dark-warn: material.define-palette(material.$red-palette, 600);

$stock-market-ng-app-dark-theme: material.define-dark-theme(
    $stock-market-ng-app-dark-primary,
    $stock-market-ng-app-dark-accent,
    $stock-market-ng-app-dark-warn
);
