<ng-container *ngIf="stock">
  <h1>
    {{ stock.name }}
    <button mat-mini-fab color="primary" matTooltip="Create stock price notification" (click)="openStockPriceNotificationDialog()" style="margin-left: 0.5rem;">
      <mat-icon>notifications</mat-icon>
    </button>
  </h1>
  <h3>
    {{ stock.ticker }}
  </h3>
  <h1 [style]="isTrendingUp ? 'color: limegreen' : (isTrendingDown ? 'color: red' : '')">
    {{ stock.price }} Units
    <mat-icon *ngIf="isTrendingUp">trending_up</mat-icon>
    <mat-icon *ngIf="isTrendingDown">trending_down</mat-icon>
  </h1>
</ng-container>
